<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security5"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <title th:text="${title} ?: 'Danh Sách Sản Phẩm'">Danh Sách Sản Phẩm</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.10.0/font/bootstrap-icons.min.css">
    <style>
        .card {
            display: flex;
            flex-direction: column;
            height: 100%;
        }
        .card-body {
            flex-grow: 1;
        }
        .status-badge {
            padding: 5px 10px;
            color: white;
            font-weight: bold;
        }
        .active-badge {
            background-color: green;
        }
        .deactive-badge {
            background-color: red;
        }
    </style>
</head>

<body>
<section layout:fragment="content">
    <div class="container mt-4">
        <h2>Top Sales Products</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Product Name</th>
                <th>Total Sales</th>
                <th>Order</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="revenue : ${topSaleProducts}">
                <td th:text="${revenue.product.name}"></td>
                <td th:text="${revenue.totalSales} + ' sales'"></td>
                <td class="card-footer">
                    <form th:action="@{/cart/add}" method="post" sec:authorize="isAuthenticated()" class="mt-2">
                        <input type="number" name="quantity" min="1" value="1" class="form-control d-inline-block mb-2" style="width: 70px;">
                        <input type="hidden" th:value="${revenue.product.id}" name="productId"/>
                        <button type="submit" class="btn btn-warning btn-sm">Thêm Vào Giỏ</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <h1>Danh Sách Sản Phẩm</h1>

        <div class="row mb-3" sec:authorize="!hasAuthority('ADMIN')">
            <div class="col-md-6">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle w-100" type="button" id="sortDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                        Sắp Xếp Sản Phẩm
                    </button>
                    <ul class="dropdown-menu w-100" aria-labelledby="sortDropdown">
                        <li><a class="dropdown-item" th:href="@{/products/sortByPriceAsc}">Giá Tăng Dần</a></li>
                        <li><a class="dropdown-item" th:href="@{/products/sortByPriceDesc}">Giá Giảm Dần</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-6">
                <form th:action="@{/products/category}" method="get" class="d-flex">
                    <select name="id" class="form-select" onchange="this.form.submit()">
                        <option value="">Chọn Loại Sản Phẩm</option>
                        <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
                    </select>
                </form>
            </div>
        </div>

        <div sec:authorize="hasAuthority('ADMIN')">
            <button class="btn btn-primary mb-3">
                <a th:href="@{/products/add}" class="bi bi-plus text-white" style="text-decoration: none;"> Thêm Sản Phẩm Mới</a>
            </button>

            <table class="table table-bordered table-hover">
                <thead class="table-dark">
                <tr>
                    <th>ID</th>
                    <th>Tên Sản Phẩm</th>
                    <th>Giá</th>
                    <th>Mô Tả Sản Phẩm</th>
                    <th>Loại</th>
                    <th>NSX</th>
                    <th>Xuất Xứ</th>
                    <th>Hình Ảnh</th>
                    <th>Trạng Thái</th>
                    <th>Tùy Chỉnh</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="product : ${products}">
                    <td th:text="${product.id}"></td>
                    <td th:text="${product.name}"></td>
                    <td th:text="${product.price}"></td>
                    <td th:text="${product.description}"></td>
                    <td th:text="${product.category.name}"></td>
                    <td th:text="${product.nsx}"></td>
                    <td th:text="${product.xuatsu}"></td>
                    <td>
                        <img th:src="@{${product.image}}" alt="Product Image" class="card-img-top product-image" style="height: 100px; width: 150px;">
                    </td>
                    <td>
                        <span th:classappend="${product.isActive} ? 'status-badge active-badge' : 'status-badge deactive-badge'"
                              th:text="${product.isActive} ? 'Active' : 'Deactive'"></span>
                    </td>
                    <td>
                        <a th:href="@{/products/edit/{id}(id=${product.id})}" class="btn btn-success btn-sm">Sửa</a>
                        <a th:href="@{/products/toggleActive/{id}(id=${product.id})}" class="btn btn-sm btn-outline-warning" th:text="${product.isActive} ? 'Deactivate' : 'Activate'"></a>
                        <a th:href="@{/products/delete/{id}(id=${product.id})}" class="btn btn-danger btn-sm" onclick="return confirm('Bạn có chắc không?')">Xóa</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div sec:authorize="!hasAuthority('ADMIN')">
            <div class="row row-cols-1 row-cols-md-3 g-4">

                <div class="col" th:each="product : ${products}" th:if="${product.isActive}">
                    <div class="card h-100">
                        <img th:src="@{${product.image}}" alt="Product Image" class="card-img-top product-image" style="height: 200px; width: 100%; object-fit: cover;">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${product.name}">Tên Sản Phâm</h5>
                            <p class="card-text" th:text="${product.description}">Mô Tả Sản Phẩm</p>
                            <p class="card-text">Giá: <span th:text="${product.price}">Giá</span></p>
                            <p class="card-text">Loại: <span th:text="${product.category.name}">Loại</span></p>
                            <p class="card-text">NSX: <span th:text="${product.nsx}">Nhà Sản Xuất</span></p>
                            <p class="card-text">Xuất Xứ: <span th:text="${product.xuatsu}"> Xuất Xứ</span></p>
                        </div>
                        <div class="card-footer">
                            <form th:action="@{/cart/add}" method="post" sec:authorize="isAuthenticated()" class="mt-2">
                                <input type="number" name="quantity" min="1" value="1" class="form-control d-inline-block mb-2" style="width: 70px;">
                                <input type="hidden" th:value="${product.id}" name="productId"/>
                                <button type="submit" class="btn btn-warning btn-sm">Thêm Vào Giỏ</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const searchInput = document.getElementById('searchInput');
        searchInput.addEventListener('keypress', function(e) {
            if (e.key === 'Enter') {
                e.preventDefault();
                performSearch();
            }
        });

        function performSearch() {
            const keyword = searchInput.value.trim();
            if (keyword !== '') {
                fetch(`/products/search?keyword=${encodeURIComponent(keyword)}`)
                    .then(response => response.json())
                    .then(products => {
                        console.log(products);
                    })
                    .catch(error => console.error('Error:', error));
            }
        }
    });
</script>
</body>
</html>
